@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons {
    background-color: #725523;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttons :hover {
    background-color: #624108;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.file-input-custom {
    border-color: #624108;
    color: #624108;
  }
  
  .file-input-custom::-webkit-file-upload-button {
    color: #624108;
    background-color: transparent;
  }